body {
    background-image: url("http://wallpaperscraft.site/ui/images/2/WDF_1533188.jpg");
    text-align: center;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 30pt;
    color: papayawhip;
}
p {
    font-family: 'Fredericka the Great', cursive;
    font-size: 15pt;
}